@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fe5c01;
  --color-secondary: #2e2e2e;
  --color-background: #111111;
  --color-t_white: #FFFFFF;
  --color-t_black: #000000;
  --color-t_gray: #666666;
}

body {
  color: var(--color-t_white);
  background: var(--color-background);
  font-family: 'Roboto', sans-serif;
}
