@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-chakra: 'Chakra Petch', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --color-primary: rgb(254, 92, 1);
  --color-primary-light: rgba(254, 92, 1, 0.5);
  --color-secondary: #2e2e2e;
  --color-background-dark: #111111;
  --color-background-light: #FAFAFA;

  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #666666;

  font-family: var(--font-roboto);
}